/* Write your styles */
/* change am css */
.am-topbar-inverse {
    background-color: rgb(50, 50, 50);
    border-color: rgba(255, 255, 255, 0);
}

.am-btn-secondary {
    background-color: rgb(60, 60, 60);
}

.am-btn {
    border: 0;
}

.am-input-group-primaray {
    margin: auto;
    max-width: 750px;
}

.am-dropdown {
    margin-top: 8px;
}
/* .am-dropdown-content li{
    background-color: #e6e6e6;
} */

.am-align-left {
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;
}

/* custom css style */
.get-full {
    background: rgb(64, 100, 133);
    color: #fff;
    text-align: center;
    padding: 350px 0;
    border: 0px;
}

.get-small {
    background: rgb(64, 100, 133);
    color: #fff;
    text-align: center;
    padding: 50px 0;
    border: 0px;
}

.get-title {
    font-size: 200%;
    border: 2px solid #fff;
    padding: 20px;
    display: inline-block;
}

.get-btn {
    background: #fff;
}

.detail {
    background: #fff;
}

.detail-h2 {
    text-align: center;
    font-size: 150%;
    margin: 40px 0;
}

.detail-h3 {
    color: #1f8dd6;
}

.detail-p {
    color: #7f8c8d;
}

.detail-mb {
    margin-bottom: 30px;
}

.hope {
    background: #0bb59b;
    padding: 50px 0;
}

.hope-img {
    text-align: center;
}

.hope-hr {
    border-color: #149C88;
}

.hope-title {
    font-size: 140%;
}

.about {
    background: #fff;
    padding: 40px 0;
    color: #7f8c8d;
}

.about-color {
    color: #34495e;
}

.about-title {
    font-size: 180%;
    padding: 30px 0 50px 0;
    text-align: center;
}

.footer p {
    color: #7f8c8d;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    background: rgb(50, 50, 50);
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container{
    flex-grow: 1;
}

.book-info-p {
    margin: 5px 0 0 0;
}
#change{
    color: white;
}