<!doctype html>
<html class="no-js">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Bibliosoft-Admin</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="../assets/i/bookicon2.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../assets/i/bookicon2.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../assets/i/bookicon2.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../assets/i/bookicon2.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="../assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/announce.css">
</head>
<body>
<div class="container">
    <header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
        <div class="am-container" style="max-width: unset">
            <h1 class="am-topbar-brand">
                <a href="/">Bibliosoft</a>
            </h1>

            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                    data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                    class="am-icon-bars"></span></button>

            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
                <div class="am-topbar-right">
                    <button id="log-out" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm" th:text="#{logOut}">Log out</button>
                </div>

                <div class="am-topbar-right">
                    <li class="am-dropdown am-dropdown-header" data-am-dropdown>
                        <a id="language" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;" th:text="#{English}">
                            English <span class="am-icon-caret-down"></span>
                        </a>
                        <ul class="am-dropdown-content">
                            <li class="am-dropdown-header" th:text="#{LanguageSetting}">Language Setting</li>
                            <li><a id="English" href="?lang=en_US" th:text="#{English}">English</a></li>
                            <li><a id="Chinese" href="?lang=zh_CN" th:text="#{Chinese}">中文</a></li>
                        </ul>
                    </li>
                </div>
                
                <div class="am-topbar-right">
                    <li class="am-dropdown am-dropdown-header" data-am-dropdown style="padding: 6px 6px;">
                        <a id="l" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                            Settings <span class="am-icon-caret-down"></span>
                        </a>
                        <ul class="am-dropdown-content">
                            <li><a id="changeFine" href="#" th:text="#{setFine}">Set Fine</a></li>
                            <li><a id="changeReturnperiod" href="#" th:text="#{setReturnPeriod}">Set ReturnPeriod</a></li>
                            <li><a id="changeDeposit" href="#" th:text="#{setDeposit}">Set Deposit</a></li>
                        </ul>
                    </li>
                </div>

            </div>
        </div>
    </header>
    
    <div class="am-modal am-modal-prompt" tabindex="-1" id="changeFinePrompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h4 th:text="#{setFine}"> Set Fine</h4></div>
            <div class="am-modal-bd">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="doc-ipt-3" class="am-u-sm-2 am-form-label" th:text="#{fine}">Fine:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="number" id="doc-ipt-3" placeholder="1">
                        </div>
                    </div>
                </form>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel="" th:text="#{cancel}">cancel</span>
                <span class="am-modal-btn" data-am-modal-confirm="" th:text="#{confirm}">confirm</span>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-prompt" tabindex="-1" id="changeReturnperiodPrompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h4 th:text="#{setReturnPeriod}">Set ReturnPeriod</h4></div>
            <div class="am-modal-bd">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="doc-ipt-rep-2" class="am-u-sm-2 am-form-label" th:text="#{days}">Days:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="number" id="doc-ipt-rep-2" placeholder="30">
                        </div>
                    </div>
                </form>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel="" th:text="#{cancel}">cancel</span>
                <span class="am-modal-btn" data-am-modal-confirm="" th:text="#{confirm}">confirm</span>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-prompt" tabindex="-1" id="changeDepositPrompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h4 th:text="#{setDeposit}">Set Deposit</h4></div>
            <div class="am-modal-bd">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="doc-ipt-dep-3" class="am-u-sm-2 am-form-label" th:text="#{deposits}">Deposit:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="number" id="doc-ipt-dep-3" placeholder="300">
                        </div>
                    </div>
                </form>
            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel="" th:text="#{cancel}">cancel</span>
                <span class="am-modal-btn" data-am-modal-confirm="" th:text="#{confirm}">confirm</span>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-prompt" tabindex="-1" id="addAccountPrompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h4 th:text="#{addLibrarian}">Add Librarian</h4></div>
            <div class="am-modal-bd">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="doc-email" class="am-u-sm-2 am-form-label" th:text="#{email}">email:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="email" id="doc1"
                                   placeholder="Enter your email">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-userName" class="am-u-sm-2 am-form-label" th:text="#{name}">name:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="text" id="doc2"
                                   placeholder="Enter your name">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-pwd" class="am-u-sm-2 am-form-label" th:text="#{password}">password:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="password" id="doc3"
                                   placeholder="Enter your password">
                        </div>
                    </div>

                    <div class="am-form-group" id="input-deposit">
                        <label for="doc-deposit" class="am-u-sm-2 am-form-label" th:text="#{deposit}">deposit:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="number" id="doc-deposit"
                                   placeholder="Enter your deposit">
                        </div>
                    </div>

                </form>

            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel="" th:text="#{cancel}">cancel</span>
                <span class="am-modal-btn" data-am-modal-confirm="" th:text="#{confirm}">confirm</span>
            </div>
        </div>
    </div>

    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-xxl" style="color: rgb(64, 100, 133);" th:text="#{accountTable}">Account Table</strong>
                </div>
            </div>

            <hr>

            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs">
                            <button id="addLibrarian" type="button" class="am-btn am-btn-default" th:text="#{add}"><span
                                    class="am-icon-plus"></span> Add
                            </button>
                            <button id="delete" type="button" class="am-btn am-btn-default"  onclick="delSel();" th:text="#{delete}">
                                <span class="am-icon-trash" ></span> Delete
                            </button>
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field" id="account-key">
                        <span class="am-input-group-btn">
                        <button class="am-btn am-btn-default" type="button" onclick="searchAccount()">Search</button>
                        </span>
                    </div>
                </div>
            </div>
    
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                    <table id="table" class="am-table am-table-striped am-table-hover table-main">
                        <thead id="thead">
                        <tr>
                        <!--总的checkbox，未加js全选-->
                        <th class="table-check"><input type="checkbox" onclick="selAll(this);"/></th>
                        <th class="table-serial" th:text="#{serialID}">Serial ID</th><th class="table-id" th:text="#{librarianID}">Librarian ID</th><th class="table-user" th:text="#{userName}">User Name</th><th class="am-hide-sm-only" th:text="#{emails}">Email</th><th class="table-pwd" th:text="#{passwords}">Password</th><th class="table-set" th:text="#{operations}">Operations</th>
                        <!--每一个tr之间为一个表单数据，后期改为动态，保持一个页面15个数据,否则全屏可能出现空白-->
                        </tr>
                        </thead>

                    </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
                    
    
    <!-- <div class="tbody"> -->
            <!-- <div class="tbody_inside"> -->
                <!-- <div class="addOrDelete">
                    <button class="add" type="button" id="show">add</button>
                    <button class="delete" type="button" onclick="delSel();" >delete</button>
                </div> -->
                <!--信息部分-->
                <!-- <table class="contentTable" id="table">
                    <thead id="thead">
                        <tr class="contentTable1">
                            <td><input type="checkbox" onclick="selAll(this);"></td>
                            <td>SerialID</td>
                            <td>LibrarianID</td>
                            <td>UserName</td>
                            <td>Email</td>
                            <td>Password</td>
                            <td>Operations</td>
                        </tr>
                    </thead>
                    <tbody class="tb" id="tb">
    
                    </tbody>
                </table>
                <div class="upOrDown">
                    <span id="spanFirst" class="spanFirst">FirstPage , </span> 
                    <span id="spanLast" class="spanLast">LastPage , </span> the 
                    <span id="spanPageNum"></span> page , total 
                    <span id="spanTotalPage"></span> pages, total
                    <span id="spanTotalNumRows"></span> items,(10 items/page)
                    <button class="down" type="button" id="spanNext">next page</button>
                    <button class="up" type="button" id="spanPre">pre page</button>
                </div>
            </div> -->
            <!--<div class="over" style="display:none;" id="over">-->
                <!--<div class="over_child">-->
                    <!--<p>Add reader</p>-->
                    <!--<table>-->
                        <!--<tbody id="over_tb">-->
                            <!--<tr>-->
                                <!--<td>UserName：</td>-->
                                <!--<td><input type="text" ></td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Email：</td>-->
                                <!--<td><input type="text" ></td>-->
                            <!--</tr>-->
                            <!---->
                        <!--</tbody>-->
                        <!--<tr>-->
                            <!--<td colspan="2">-->
                            <!--<input type="button" value="cancel" id="hide23" class="button1" /> -->
                            <!--<input type="button" value="confirm" onclick="addTr();" class="button2" />-->
                            <!--</td>-->
                        <!--</tr>-->
                    <!--</table>-->
                    <!--<div class="string"></div>-->
                <!--</div>-->
            <!--</div>-->
    <div class="am-modal am-modal-prompt" tabindex="-1" id="editAccountPrompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h4 id="edit-account-title" th:text="#{editAccount}">Edit Account</h4></div>
            <div class="am-modal-bd">
                <form class="am-form am-form-horizontal" id="editAccountForm">
                    <div class="am-form-group">
                        <label  class="am-u-sm-3 am-form-label" th:text="#{librarianID}">Librarian ID</label>
                        <div class="am-u-sm-9">
                            <input class="am-modal-prompt-input" type="text"
                                   placeholder="" disabled>
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-email" class="am-u-sm-3 am-form-label" th:text="#{userName}">UserName</label>
                        <div class="am-u-sm-9">
                            <input class="am-modal-prompt-input" type="email"
                                   placeholder="Enter your username">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-pwd" class="am-u-sm-3 am-form-label" th:text="#{emails}">Email</label>
                        <div class="am-u-sm-9">
                            <input class="am-modal-prompt-input" type="text"
                                   placeholder="Enter your email">
                        </div>
                    </div>
                    <div class="am-form-group">
                        <label for="doc-pwd" class="am-u-sm-3 am-form-label" th:text="#{passwords}">Password</label>
                        <div class="am-u-sm-9">
                            <input class="am-modal-prompt-input" type="text"
                                   placeholder="Enter your password">
                        </div>
                    </div>

                </form>

            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel="" th:text="#{cancel}">cancel</span>
                <span class="am-modal-btn" data-am-modal-confirm="" th:text="#{confirm}">confirm</span>
            </div>
        </div>
    </div>
            <div class="over2" style="display:none;" id="over2">
                <div class="over_child2">
                    <p id="lookMessages" th:text="#{editAccount}" >Edit Account</p>
                    <table>
                        <tbody id="over_tb2">
                        <tr>
                            <td th:text="#{librarianId}">LibrarianId：</td>
                            <td><input type="text" id="i1"></td>
                        </tr>
                        <tr>
                            <td th:text="#{username}">UserName：</td>
                            <td><input type="text" id="i2"></td>
                        </tr>
                        <tr>
                            <td th:text="#{emails}">Email：</td>
                            <td><input type="text" id="i3"></td>
                        </tr>
                        <tr>
                            <td th:text="#{passwords}">Password：</td>
                            <td><input type="text" id="i4"></td>
                        </tr>
                    </tbody>
                    <tr>
                        <td colspan="2">
                        <input type="button" value="cancel" onclick="showHide2(this);" class="button1" th:text="#{cancel}"/>
                        <input type="button" value="save" onclick="okBtn();" class="button2" id="hide" th:text="#{save}"/>
                        </td>
                    </tr>
                </table>
                <div class="string"></div>
            </div>
        </div>
    <!-- </div> -->

</div>
<footer class="footer">
    <p>2018 by A12</p>
</footer>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/js/jquery-3.1.1.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<!--<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>-->
<!--<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>-->
<!--<script src="assets/js/amazeui.ie8polyfill.min.js"></script>-->
<![endif]-->
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/style.js"></script>
<script src="../assets/js/admin.js"></script>

</body>
</html>