<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport"
          content="width=device-width, initial-scale=1">
    <title>Bibliosoft</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="../assets/i/bookicon2.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../assets/i/bookicon2.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../assets/i/bookicon2.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../assets/i/bookicon2.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="../assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
    <link rel="stylesheet" href="../assets/css/scroll.css">
</head>
<body>
<div class="container">
    <header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
        <div class="am-container" style="max-width: unset">
            <h1 class="am-topbar-brand">
                <a href="#">Bibliosoft</a>
            </h1>

            <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                    data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                    class="am-icon-bars"></span></button>

            <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
                <div class="am-topbar-right">
                    <button id="log-out" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"
                            style="display:none;">Log out
                    </button>
                </div>

                <div class="am-topbar-right">
                    <button type="button" id="sign-in" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">Sign In</button>
                </div>

                <div class="am-topbar-right">
                    <li class="am-dropdown am-dropdown-header" data-am-dropdown>
                        <a id="language" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                            English <span class="am-icon-caret-down"></span>
                        </a>
                        <ul class="am-dropdown-content">
                            <li class="am-dropdown-header">Language Setting</li>
                            <li><a id="English" href="#">English</a></li>
                            <li><a id="Chinese" href="#">中文</a></li>
                        </ul>
                    </li>
                </div>

            </div>
        </div>
    </header>
    <div class="am-modal am-modal-prompt" tabindex="-1" id="loginPrompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h4>Sign in</h4></div>
            <div class="am-modal-bd">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">account:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="email" id="doc-email" placeholder="Enter your email">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-ipt-pwd-2" class="am-u-sm-2 am-form-label">password:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="password" id="doc-ipt-pwd-2" placeholder="Enter you password">
                        </div>
                    </div>
                    <div class="am-radio-inline" style="padding-top: 0">
                        <label >
                            <input type="radio" name="loginType" value="admin" data-am-ucheck=""/>
                            admin
                        </label>
                    </div>
                    <div class="am-radio-inline" style="padding-top: 0">
                        <label >
                            <input type="radio" name="loginType" value="librarian" data-am-ucheck=""/>
                            librarian
                        </label>
                    </div>
                    <div class="am-radio-inline" style="padding-top: 0">
                        <label >
                            <input type="radio" name="loginType" value="reader" data-am-ucheck=""/>
                            reader
                        </label>
                    </div>
                    <div><button onclick="findKey()" type="button">忘记密码？</button></div>
                </form>

            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel="">cancel</span>
                <span class="am-modal-btn" data-am-modal-confirm="">login</span>
            </div>
        </div>
    </div>

    <div class="get-full" id="backGround">
            <div class="announcebody">
               <div class="announcecontainer" class="am-g">
                        <div class="announcetitle"><a href="#">Announcement</a></div>
                            <div id="scrollBox" style="height: 100px">
                                
                            </div>
                            <!-- <div><input type="text" id="demo"></div> -->
                    </div>
            </div>
        <div class="am-g">
            <div class="am-u-lg-12">
                <h1 class="get-title">Bibliosoft - Online Library </h1>
            </div>
        </div>

        <p>
            Online Library Management System
        </p>

        <p>
        <div class="am-input-group am-input-group-primaray">
            <input id="search-input" type="text" class="am-form-field"
                   placeholder="Search Books by Name, BookType, Author etc.">
            <span class="am-input-group-btn">
            <button id="search-button" class="am-btn am-btn-primary" type="button"><span class="am-icon-search"></span></button>
            </span>
        </div>
        </p>
    </div>

    <div id="bookPane" data-am-widget="list_news" class="am-list-news am-list-news-default" style="display: none">
        <div class="am-list-news-hd am-cf">
            <a href="#bookPane">
                <h2>Search Results</h2>
                <span id="morePage" class="am-list-news-more am-fr">More &raquo;</span>
            </a>
        </div>
        <div class="am-list-news-bd">
            <ul class="am-list" id="bookList">
                <!--列表 每个li为一个书籍-->
                <!--<li class="am-cf am-text-truncate">-->
                <!--&lt;!&ndash;书籍缩略图&ndash;&gt;-->
                <!--<p class="am-align-left">-->
                <!--<img class="am-radius" src="assets/i/bookicon1.png" alt="..."-->
                <!--width="140" height="140">-->
                <!--</p>-->
                <!--&lt;!&ndash;书名作为h2标题&ndash;&gt;-->
                <!--<h2 style="margin: 2px 0 0 0">-->
                <!--<strong class="am-text-middle" href="">Book Name Here</strong>-->
                <!--</h2>-->
                <!--&lt;!&ndash;书籍信息&ndash;&gt;-->
                <!--<p class="am-text-top" style="margin: 0 0 0 0">by-->
                <!--<strong>Book Author</strong>-->
                <!--</p>-->
                <!--<p class="book-info-p am-text-middle am-text-sm">-->
                <!--Total:-->
                <!--<em>10</em>-->
                <!--Remain:-->
                <!--<em>2</em>-->
                <!--</p>-->
                <!--<p class="book-info-p am-text-middle am-text-xs">Publisher</p>-->
                <!--<p class="book-info-p am-text-middle am-text-xs">Book ID</p>-->
                <!--</li>-->

                <!--<li class="am-cf am-text-truncate">-->
                <!--<p class="am-align-left">-->
                <!--<img class="am-radius" src="assets/i/bookicon1.png" alt="..."-->
                <!--width="140" height="140">-->
                <!--</p>-->
                <!--<h2 style="margin: 2px 0 0 0">-->
                <!--<strong class="am-text-middle" href="">Book Name2 Here</strong>-->
                <!--</h2>-->
                <!--<p class="am-text-top" style="margin: 0 0 0 0">by-->
                <!--<strong>Book Author2</strong>-->
                <!--</p>-->
                <!--<p class="book-info-p am-text-middle am-text-sm">-->
                <!--Total:-->
                <!--<em>10</em>-->
                <!--Remain:-->
                <!--<em>20</em>-->
                <!--</p>-->
                <!--<p class="book-info-p am-text-middle am-text-xs">Publisher2</p>-->
                <!--<p class="book-info-p am-text-middle am-text-xs">Book ID2</p>-->
                <!--</li>-->

                <!--<li class="am-cf am-text-truncate">-->
                <!--<p class="am-align-left">-->
                <!--<img class="am-radius" src="assets/i/bookicon1.png" alt="..."-->
                <!--width="140" height="140">-->
                <!--</p>-->
                <!--<h2 style="margin: 2px 0 0 0">-->
                <!--<strong class="am-text-middle" href="">Book Name3 Here</strong>-->
                <!--</h2>-->
                <!--<p class="am-text-top" style="margin: 0 0 0 0">by-->
                <!--<strong>Book Author3</strong>-->
                <!--</p>-->
                <!--<p class="book-info-p am-text-middle am-text-sm">-->
                <!--Total:-->
                <!--<em>100</em>-->
                <!--Remain:-->
                <!--<em>2</em>-->
                <!--</p>-->
                <!--<p class="book-info-p am-text-middle am-text-xs">Publisher3</p>-->
                <!--<p class="book-info-p am-text-middle am-text-xs">Book ID3</p>-->
                <!--</li>-->
            </ul>
            <ul class="am-pagination am-pagination-centered" id="bookPagination">

            </ul>
        </div>
    </div>
</div>
</div>

<footer class="footer">
    <p>2018. by Team A12.</p>
</footer>

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/js/jquery-3.1.1.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/style.js"></script>
<!-- <script src="../assets/js/scroll.js"></script> -->
<script src="../assets/js/scroll.js"></script>
    
</body>
</html>