<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bibliosoft-Librarian-New Reservation</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="assets/i/bookicon2.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/bookicon2.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/bookicon2.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/bookicon2.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/librarian.css">
</head>
<body>
<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
    <div class="am-container" style="max-width: unset">
        <h1 class="am-topbar-brand">
            <a href="#">Bibliosoft</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <div class="am-topbar-right">
                <button id="log-out" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">Log out</button>
            </div>

            <div class="am-topbar-right">
                <li class="am-dropdown am-dropdown-header" data-am-dropdown>
                    <a id="language" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        English <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">Language Setting</li>
                        <li><a id="English" href="#">English</a></li>
                        <li><a id="Chinese" href="#">中文</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</header>

<div class="am-cf admin-main">
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="librarian-index.html"><span class="am-icon-home"></span> Homepage</a></li>
                <li class="reader-parent">
                    <a class="am-cf" data-am-collapse="{target: '#reader-nav'}"><span class="am-icon-user"></span> Reader <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="reader-nav">
                        <li><a href="librarian-RRI.html"><span class="am-icon-info-circle"></span> Reader Reservation</a></li>
                        <li><a href="#"><span class="am-icon-plus"></span> New Reservation  </a></li>

                    </ul>
                </li>
                <li class="book-parent">
                    <a class="am-cf" data-am-collapse="{target: '#book-nav'}"><span class="am-icon-book"></span> Books <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="book-nav">
                        <li><a href="librarian-addbooks.html"><span class="am-icon-plus"></span> Add Books</a></li>
                        <li><a href="librarian-search.html"><span class="am-icon-search"></span> Search </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-lg">New Reservation</strong>
                </div>
            </div>

            <hr>

            <div class="am-tabs am-margin" data-am-tabs>
                <div class="am-tabs-bd-ofv">
                    <div class="am-tab-panel am-fade am-in am-active">
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">Classification</div>
                            <div class="am-u-sm-8 am-u-md-10">
                                <select data-am-selected="{btnSize: 'sm'}">
                                    <option value="option1">--------------------</option>
                                    <option value="option2">-----Literature-----</option>
                                    <option value="option3">-----Historical-----</option>
                                    <option value="option4">-------Fiance-------</option>
                                    <option value="option5">-----Psychology-----</option>
                                    <option value="option6">-----Text Books-----</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-g am-margin-top-sm">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                Book Name
                            </div>
                            <div class="am-u-sm-8 am-u-md-4 am-u-end">
                                <input type="text" class="am-input-sm">
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">Status</div>
                            <div class="am-u-sm-8 am-u-md-10">
                                <div class="am-btn-group" data-am-button>
                                    <label class="am-btn am-btn-default am-btn-xs">
                                        <input type="radio" name="options" id="option1"> Success
                                    </label>
                                    <label class="am-btn am-btn-default am-btn-xs">
                                        <input type="radio" name="options" id="option2"> Pending
                                    </label>
                                    <label class="am-btn am-btn-default am-btn-xs">
                                        <input type="radio" name="options" id="option3"> Hidden
                                    </label>
                                </div>
                            </div>
                        </div>


                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                Begin
                            </div>
                            <div class="am-u-sm-8 am-u-md-10">
                                <form action="" class="am-form am-form-inline">
                                    <div class="am-form-group am-form-icon">
                                        <i class="am-icon-calendar"></i>
                                        <input type="datetime-local" class="am-form-field am-input-sm" placeholder="时间">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-4 am-u-md-2 am-text-right">
                                End
                            </div>
                            <div class="am-u-sm-8 am-u-md-10">
                                <form action="" class="am-form am-form-inline">
                                    <div class="am-form-group am-form-icon">
                                        <i class="am-icon-calendar"></i>
                                        <input type="datetime-local" class="am-form-field am-input-sm" placeholder="时间">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="am-g am-margin-top">
                            <div class="am-u-sm-8 am-u-md-10">
                                <form action="" class="am-form am-form-inline">
                                    <div class="am-form-group am-form-icon">
                                        <button type="button" class="am-btn am-btn-primary am-btn-xs">Submit</button>
                                        <button type="button" class="am-btn am-btn-primary am-btn-xs">Quit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>2018. by Team A12.</p>
        </footer>
    </div>

</div>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>