<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bibliosoft-Librarian-search</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="assets/i/bookicon2.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/bookicon2.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/bookicon2.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/bookicon2.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/librarian.css">
</head>
<body>
<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
    <div class="am-container" style="max-width: unset">
        <h1 class="am-topbar-brand">
            <a href="#">Bibliosoft</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <div class="am-topbar-right">
                <button id="log-out" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">Log out</button>
            </div>

            <div class="am-topbar-right">
                <li class="am-dropdown am-dropdown-header" data-am-dropdown>
                    <a id="language" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        English <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">Language Setting</li>
                        <li><a id="English" href="#">English</a></li>
                        <li><a id="Chinese" href="#">中文</a></li>
                    </ul>
                </li>
            </div>

        </div>
    </div>
</header>

<div class="am-cf admin-main">
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="librarian-index.html"><span class="am-icon-home"></span> Homepage</a></li>
                <li class="reader-parent">
                    <a class="am-cf" data-am-collapse="{target: '#reader-nav'}"><span class="am-icon-user"></span> Reader <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="reader-nav">
                        <li><a href="librarian-RRI.html"><span class="am-icon-info-circle"></span> Reader Reservation</a></li>
                        <li><a href="#"><span class="am-icon-plus"></span> New Reservation  </a></li>

                    </ul>
                </li>
                <li class="book-parent">
                    <a class="am-cf" data-am-collapse="{target: '#book-nav'}"><span class="am-icon-book"></span> Books <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="book-nav">
                        <li><a href="librarian-addbooks.html"><span class="am-icon-plus"></span> Add Books</a></li>
                        <li><a href="#"><span class="am-icon-search"></span> Search </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf">
                    <strong class="am-text-primary am-text-lg">Search</strong>
                </div>
            </div>



            <p>
            <div class="am-input-group am-input-group-primaray">
                <input id="search-input" type="text" class="am-form-field" placeholder="Search Books by Name, Publisher, Author etc.">
                <span class="am-input-group-btn">
            <button id="search-button" class="am-btn am-btn-primary" type="button"><span class="am-icon-search"></span></button>
            </span>
            </div>
            </p>
        </div>
            <hr>

            <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
                <li>
                    <a href="librarian-books_status.html">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt=""/>
                        <div class="gallery-title">Book 1</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt=""/>
                        <div class="gallery-title">Book 2</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt=""/>
                        <div class="gallery-title">Book 3</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        <div class="gallery-title">Book 4</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-4.jpg" alt=""/>
                        <div class="gallery-title">Book 5</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt=""/>
                        <div class="gallery-title">Book 6</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-1.jpg" alt=""/>
                        <div class="gallery-title">Book 7</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt=""/>
                        <div class="gallery-title">Book 8</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt=""/>
                        <div class="gallery-title">Book 9</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt=""/>
                        <div class="gallery-title">Book 10</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-3.jpg" alt=""/>
                        <div class="gallery-title">Book 11</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img class="am-img-thumbnail am-img-bdrs" src="http://s.amazeui.org/media/i/demos/bing-2.jpg" alt=""/>
                        <div class="gallery-title">Book 12</div>
                        <span class="am-cf"></span> Inventory<span class="am-badge am-badge-secondary am-margin-right am-fr">25</span>
                    </a>
                </li>
            </ul>

            <div class="am-margin am-cf">
                <hr/>
                <ol class="am-pagination am-fr">
                    <li class="am-disabled"><a href="#">&laquo;</a></li>
                    <li class="am-active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ol>
            </div>
        </div>
        <footer class="footer">
            <p>2018. by Team A12.</p>
        </footer>
    </div>

</div>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>