<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bibliosoft-Librarian-Add Books</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="assets/i/bookicon2.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="assets/i/bookicon2.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="assets/i/bookicon2.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="assets/i/bookicon2.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="assets/css/amazeui.min.css">
    <link rel="stylesheet" href="assets/css/librarian.css">
</head>
<body>
<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
    <div class="am-container" style="max-width: unset">
        <h1 class="am-topbar-brand">
            <a href="#">Bibliosoft</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <div class="am-topbar-right">
                <button id="log-out" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">Log out</button>
            </div>

            <div class="am-topbar-right">
                <li class="am-dropdown am-dropdown-header" data-am-dropdown>
                    <a id="language" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        English <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">Language Setting</li>
                        <li><a id="English" href="#">English</a></li>
                        <li><a id="Chinese" href="#">中文</a></li>
                    </ul>
                </li>
            </div>

        </div>
    </div>
</header>

<div class="am-cf admin-main">
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list">
                <li><a href="librarian-index.html"><span class="am-icon-home"></span> Homepage</a></li>
                <li class="reader-parent">
                    <a class="am-cf" data-am-collapse="{target: '#reader-nav'}"><span class="am-icon-user"></span> Reader <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="reader-nav">
                        <li><a href="librarian-RRI.html"><span class="am-icon-info-circle"></span> Reader Reservation</a></li>
                        <li><a href="librarian-newres.html"><span class="am-icon-plus"></span> New Reservation  </a></li>

                    </ul>
                </li>
                <li class="book-parent">
                    <a class="am-cf" data-am-collapse="{target: '#book-nav'}"><span class="am-icon-book"></span> Books <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
                    <ul class="am-list am-collapse admin-sidebar-sub am-in" id="book-nav">
                        <li><a href="librarian-addbooks.html"><span class="am-icon-plus"></span> Add Books</a></li>
                        <li><a href="librarian-search.html"><span class="am-icon-search"></span> Search </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">Add Books</strong></div>
            </div>

            <hr/>

            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-bd">
                            <div class="am-g">
                                <div class="am-u-md-4">
                                    <img class="am-img-circle am-img-thumbnail" src="" alt=""/>
                                </div>
                                <div class="am-u-md-8">
                                    <form class="am-form">
                                        <div class="am-form-group">
                                            <input type="file" id="user-pic">
                                            <p class="am-form-help">请选择要上传的文件...</p>
                                            <button type="button" class="am-btn am-btn-primary am-btn-xs">保存</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
                    <form class="am-form am-form-horizontal">
                        <div class="am-form-group">
                            <label for="book-name" class="am-u-sm-3 am-form-label">Name</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="book-name" placeholder="">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="author" class="am-u-sm-3 am-form-label">Author</label>
                            <div class="am-u-sm-9">
                                <input type="text"  id="author" placeholder="">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="book-type" class="am-u-sm-3 am-form-label">Type</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="book-type" placeholder="">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="bar-code" class="am-u-sm-3 am-form-label">Bar Code</label>
                            <div class="am-u-sm-9">
                                <input type="number" pattern="[0-9]*" id="bar-code" placeholder="">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="book-id" class="am-u-sm-3 am-form-label">Book ID</label>
                            <div class="am-u-sm-9">
                                <input type="number" pattern="[0-9]*" id="book-id" placeholder="">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="book-id" class="am-u-sm-3 am-form-label">Book Price</label>
                            <div class="am-u-sm-9">
                                <input type="number" pattern="[0-9]*" id="book-price" placeholder="">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <label for="book-inventery" class="am-u-sm-3 am-form-label">Book Inventery</label>
                            <div class="am-u-sm-9">
                                <input type="number" pattern="[0-9]*" id="book-inventery" placeholder="">
                            </div>
                        </div>

                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <footer class="footer">
            <p>2018. by Team A12.</p>
        </footer>
    </div>

</div>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>


<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>