<!doctype html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="viewport"
			content="width=device-width, initial-scale=1">
	<title>Bibliosoft-Reader Borrow Records</title>

	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">

	<!-- No Baidu Siteapp-->
	<meta http-equiv="Cache-Control" content="no-siteapp"/>

	<link rel="icon" type="image/png" href="/assets/i/bookicon2.png">

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="/assets/i/bookicon2.png">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Amaze UI"/>
	<link rel="apple-touch-icon-precomposed" href="/assets/i/bookicon2.png">

	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="/assets/i/bookicon2.png">
	<meta name="msapplication-TileColor" content="#0e90d2">

	<link rel="stylesheet" href="/assets/css/amazeui.min.css">
	<link rel="stylesheet" href="/assets/css/app.css">
	<link rel="stylesheet" href="/assets/css/announce.css">
	<!-- <script type="text/javascript" src="/assets/js/jquery-3.1.1.min.js"></script> -->
</head>
	
<body class="am-with-topbar-fixed-top">
<div class="container">
	<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
		<div class="am-container" style="max-width: unset">
			<h1 class="am-topbar-brand">
				<a href="#">Reader Borrow Records</a>
			</h1>

			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
					data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only"></span> <span
					class="am-icon-bars"></span></button>

			<div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">

				<div class="am-topbar-right">
					<button type="button" id="home" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm" th:text="#{back}">Back</button>
				</div>

				<div class="am-topbar-right">
					<li class="am-dropdown am-dropdown-header" data-am-dropdown>
						<a id="language" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;" th:text="#{English}">
							English <span class="am-icon-caret-down"></span>
						</a>
						<ul class="am-dropdown-content">
							<li class="am-dropdown-header" th:text="#{LanguageSetting}">Language Setting</li>
							<li><a id="English" href="#" th:text="#{English}">English</a></li>
							<li><a id="Chinese" href="#" th:text="#{Chinese}">中文</a></li>
						</ul>
					</li>
				</div>
			</div>
		</div>
	</header>

	<div class="admin-content">
		<div class="admin-content-body">
			<div class="am-cf am-padding am-padding-bottom-0">
				<div class="am-fl am-cf">
					<strong class="am-text-primary am-text-xxl" style="color: rgb(64, 100, 133);" th:text="#{borrowRecords}">Borrow Records</strong>
				</div>
			</div>

			<hr>
	
			<div class="am-g">
				<div class="am-u-sm-12">
					<form class="am-form">
					<table id="table" class="am-table am-table-striped am-table-hover table-main">
						<thead id="thead">
						<tr>
						
						<th th:text="#{serialID}">Serial ID</th>
						<th th:text="#{bookID}">Book ID</th>
						<th th:text="#{bookName}">BookName</th>
						<th th:text="#{fine}">Fine</th>
						<th th:text="#{borrowDate}">Borrow Date</th>
						</tr>
						</thead>

						<!--<tbody>-->
							<!--<tr>-->
							<!--<td>Serial ID</td>-->
							<!--<td>Book ID</td>-->
							<!--<td>Book Name</td>-->
							<!--<td>Fine</td>-->
							<!--<td>Borrow Date</td>-->
							<!--</tr>-->
						<!--</tbody>-->

					</table>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>

<footer class="footer">
	<p>2018. by Team A12.</p>
</footer>
<script type="text/javascript" src="/assets/js/jquery-3.1.1.min.js"></script>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script type="text/javascript" src="/assets/js/readerBorrow.js"></script>
</body>
</html>
