<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bibliosoft-Reader</title>

    <!-- Set render engine for 360 browser -->
    <meta name="renderer" content="webkit">

    <!-- No Baidu Siteapp-->
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="icon" type="image/png" href="../assets/i/bookicon2.png">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../assets/i/bookicon2.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="apple-touch-icon-precomposed" href="../assets/i/bookicon2.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../assets/i/bookicon2.png">
    <meta name="msapplication-TileColor" content="#0e90d2">

    <link rel="stylesheet" href="../assets/css/amazeui.min.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
<header class="am-topbar am-topbar-inverse am-topbar-fixed-top">
    <div class="am-container" style="max-width: unset">
        <h1 class="am-topbar-brand">
            <a href="#">Bibliosoft</a>
        </h1>

        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <div class="am-topbar-right">
                <button id="log-out" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm">Log out</button>
            </div>
            <div class="am-topbar-right">
                <li class="am-dropdown am-dropdown-header" data-am-dropdown>
                    <a id="l" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        Service <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li><a id="borrowHistory" >Borrow History</a></li>
                        <li><a id="returnHistory" >Return History</a></li>
                        <li><a id="unpaidFine" >Unpaid Fine</a></li>
                        <!--<li><a id="order" >Order</a></li>-->
                    </ul>
                </li>
            </div>
            <div class="am-topbar-right">
                <li class="am-dropdown am-dropdown-header" data-am-dropdown>
                    <a id="language" class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
                        English <span class="am-icon-caret-down"></span>
                    </a>
                    <ul class="am-dropdown-content">
                        <li class="am-dropdown-header">Language Setting</li>
                        <li><a id="English" href="#">English</a></li>
                        <li><a id="Chinese" href="#">中文</a></li>
                    </ul>
                </li>
            </div>
            <div class="am-topbar-right">
                <!-- <button id="lib-icon" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm"><span class="am-icon-user-secret" > Mr.Reader </span></button> -->
                <button id="lib-icon" class="am-btn am-btn-secondary am-topbar-btn am-btn-sm" > Mr.Reader </button> 
            </div>
        </div>
    </div>
</header>

<div class="am-modal am-modal-prompt" tabindex="-1" id="unpaidFinePrompt">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"><h4>Unpaid Fine</h4></div>
        <div class="am-modal-bd">
            <form class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label for="doc-ipt-3" class="am-u-sm-4 am-form-label"> UnpaidFine:</label>
                    <div class="am-u-sm-8">
                        <input class="am-modal-prompt-input" type="text" id="unpaid-fine" disabled>
                    </div>
                </div>
            </form>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel="">close</span>
            
        </div>
    </div>
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="readerPrompt">
    <div class="am-modal-dialog">
        <div class="am-modal-hd"><h4 id="prompt-title">Edit Reader-information</h4></div>
        <div class="am-modal-bd">
            <form class="am-form am-form-horizontal">
                <div class="am-form-group">
                    <label for="doc-title" class="am-u-sm-2 am-form-label">Email:</label>
                    <div class="am-u-sm-10">
                        <input class="am-modal-prompt-input" type="text" id="eamil"
                            placeholder="Enter your eamil">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="doc-content" class="am-u-sm-2 am-form-label">UserName：</label>
                    <div class="am-u-sm-10">
                        <input class="am-modal-prompt-input" type="text" id="userName"
                            placeholder="Enter your userName">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="doc-content" class="am-u-sm-2 am-form-label">PhoneNumber：</label>
                    <div class="am-u-sm-10">
                        <input class="am-modal-prompt-input" type="text" id="phoneNumber"
                            placeholder="Enter your phoneNumber">
                    </div>
                </div>

                <div class="am-form-group">
                    <label for="doc-content" class="am-u-sm-2 am-form-label">Password：</label>
                    <div class="am-u-sm-10">
                        <input class="am-modal-prompt-input" type="text" id="password"
                            placeholder="Enter your password">
                    </div>
                </div>

                
            </form>

        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel="">cancel</span>
            <span class="am-modal-btn" data-am-modal-confirm="">confirm</span>
        </div>
    </div>
</div>

<div class="am-cf admin-main">
    <div class="admin-content">
        <div class="get-full" id="backGround">
            <div class="am-g">
                <div class="am-u-lg-12">
                    <h1 class="get-title">Bibliosoft - Online Library </h1>
                </div>
            </div>

            <p>
                Online Library Management System
            </p>

            <p>
            <div class="am-input-group am-input-group-primaray">
                <input id="search-input" type="text" class="am-form-field"
                       placeholder="Search Books by Name, BookType, Author etc.">
                <span class="am-input-group-btn">
            <button id="search-button" class="am-btn am-btn-primary" type="button"><span class="am-icon-search"></span></button>
            </span>
            </div>
            </p>
        </div>

        <div id="bookPane" data-am-widget="list_news" class="am-list-news am-list-news-default" style="display: none">
            <div class="am-list-news-hd am-cf">
                <a href="#" onclick="return false">
                    <h2>Search Results</h2>
                </a>
            </div>
            <div class="am-list-news-bd">
                <ul class="am-list" id="bookList"></ul>
                <ul class="am-pagination am-pagination-centered" id="bookPagination"></ul>
            </div>
        </div>
    </div>

    <div class="am-modal am-modal-prompt" tabindex="-1" id="addNewBookPrompt">
        <div class="am-modal-dialog">
            <div class="am-modal-hd"><h4>Add New Book</h4></div>
            <div class="am-modal-bd">
                <form class="am-form am-form-horizontal">
                    <div class="am-form-group">
                        <label for="doc-ipt-3" class="am-u-sm-2 am-form-label">Author:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="text" id="doc-ipt-3">
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-ipt-2" class="am-u-sm-2 am-form-label">Name:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="text" id="doc-ipt-2" >
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-ipt-1" class="am-u-sm-2 am-form-label">Type:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="text" id="doc-ipt-1" >
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-ipt-4" class="am-u-sm-2 am-form-label">Location:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="text" id="doc-ipt-4" >
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-ipt-5" class="am-u-sm-2 am-form-label">Description:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="text" id="doc-ipt-5" >
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-ipt-6" class="am-u-sm-2 am-form-label">Price:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="number" id="doc-ipt-6" >
                        </div>
                    </div>

                    <div class="am-form-group">
                        <label for="doc-ipt-7" class="am-u-sm-2 am-form-label">BookImg:</label>
                        <div class="am-u-sm-10">
                            <input class="am-modal-prompt-input" type="file" id="doc-ipt-7" >
                        </div>
                    </div>


                </form>

            </div>
            <div class="am-modal-footer">
                <span class="am-modal-btn" data-am-modal-cancel="">cancel</span>
                <span class="am-modal-btn" data-am-modal-confirm="">add</span>
            </div>
        </div>
    </div>

</div>
<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer class="footer">
    <p>2018. by Team A12</p>
</footer>
<!--[if lt IE 9]>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="../assets/js/jquery-3.1.1.min.js"></script>
<!--<![endif]-->
<script src="../assets/js/amazeui.min.js"></script>
<script src="../assets/js/app.js"></script>
<script src="../assets/js/readercan.js"></script>
<script src="../assets/js/style.js"></script>
</body>
</html>