<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Bibliosoft-ReturnRecord</title>
<link type="text/css" rel="stylesheet" href="../assets/css/announce.css" />
<script type="text/javascript" src="../assets/js/jquery-3.1.1.min.js"></script>
</head>

<body>
	<div class="tbody">
		<div class="tbody_inside">
			<!--头部-->
			<div class="head">
				<div class="head_left"></div>
				<p class="title">Bibliosoft-ReturnRecord</p>
				<div class="head_right"></div>
			</div>
			
			<div class="addOrDelete">
				<button class="index" type="button" id="home">Back Home </button>
			</div>
			<!--信息部分-->
			<table class="contentTable" id="table">
				<thead id="thead">
					<tr class="contentTable1">
                        <td>SerialID</td>
                        <td>ReturnId</td>
                        <td>ReadId</td>
						<td>BookId</td>
                        <td>ReturnDate</td>
					</tr>
				</thead>
				<tbody class="tb" id="tb">

				</tbody>
			</table>
			<div class="upOrDown">
				<span id="spanFirst" class="spanFirst">FirstPage , </span> 
                <span id="spanLast" class="spanLast">LastPage , </span> the 
                <span id="spanPageNum"></span> page , total 
                <span id="spanTotalPage"></span> pages, total
				<span id="spanTotalNumRows"></span> items,(10 items/page)
				<button class="down" type="button" id="spanNext">next page</button>
				<button class="up" type="button" id="spanPre">pre page</button>
			</div>
		</div>
		
	</div>
	<script type="text/javascript" src="../assets/js/return.js"></script>
</body>
</html>
